<div class="new-page">
  <h2 class="new-header">Editing <%= @wrestler.first_name.capitalize %> <%= @wrestler.last_name.capitalize %></h2>

  <%= render 'form' %>

</div>
<%= link_to wrestler_path(@wrestler), :class => 'btn' do %>
<i class="icon-arrow-left"></i> Back
<% end %>
