<div class="new-page">
  <h1 class="new-header">Edit Match</h1>
  <%= render 'form' %>
</div>

<%= link_to wrestler_path(@wrestler), class: 'btn' do %>
  <i class="icon-arrow-left"></i> Back
<% end %>