<div class="new-page">
  <h2 class="new-header">Add Match for <%= @wrestler.first_name.capitalize %> <%= @wrestler.last_name.capitalize %></h2>

  <%= render 'form' %>
</div>

<%= link_to 'Back', wrestlers_path, class: 'btn' %>